*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/vcs.xml
/.idea/inspectionProfiles/
.DS_Store
/build
/app/release
/captures
.externalNativeBuild
.cxx
local.properties
secrets.properties
/.idea/other.xml
/.idea/appInsightsSettings.xml
/.idea/androidTestResultsUserPreferences.xml
