*.o
*.a
*.prl
*~
*.orig
*.bak
*.obj
moc_*
qrc_*
*.moc
*.pro.user*
Makefile
core
bin
DEADJOE
doc/html
doc/qch
*.gcda
*.gcno
*.gcov-info
coverage
branch-coverage
*.so
*.pc
.qmake.stash
*.qmlc

qml/kmp/composeApp.js
qml/kmp/node_modules_ws_browser_js.js